.icon-envelope {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-euro {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-file {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-master-card {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-menu {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-padlock {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
